#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas:
    "head head"
    "main main"
    "foot foot";
  grid-template-rows: 100px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

/* Grid */
#page > header {
  grid-area: head;
  background-color: #8ca0ff;
  border-bottom: 0.2vw solid red;
}
#page > main {
  grid-area: main;
  background-color: #ffff64;
}
#page > footer {
  grid-area: foot;
  background-color: #8cffa0;
  margin-top: 10vh;
  border-top: 0.2vw solid red;
}
/* Grid */
/* Header */

/* Header */
/* navigation bar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    
}
.nav-bar {
  background-color: var(--header-background);
  width: 100%;
  height: 50px;
  display: flex;
  list-style: none;
  padding: ;
  border-bottom: 0.2vw solid red;
}
.nav-bar li {
  height: 100%;
  width: 140px;
}
.nav-bar li a {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.nav-bar li a:hover {
  background-color: var(--nav-hover-color);
  color: red;
}
.nav-bar li a:active {
  background-color: aquamarine;
  color: #fff; 
}
.nav-bar li.active a  {
  color: #fff;
}
nav ul.nav-bar > li.active {
  background-color: var(--active-background-color);
  color: #fff;
} 
/* navigation bar */
/* Main */
body {
    margin: 5px;

}

/* Main */
/* Footer */

/* Footer */
