

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
    }
header {
 font-family: "Images/Bombing";
    border-bottom: 0.1vw solid #f5d20a;
    font-size: 50px;
}

header { grid-area: header; }
section { grid-area: content; }
nav { grid-area: sidebar; }
footer { grid-area: footer; }

#logo { 
   height: 5vh; 
}


body { font-family: 'Delius', cursive;}


body { 
   background-color: #262624;
   color: #ffffff; 
} 
body {
  display: grid;
  grid-template-areas: 
      "header header"
      "sidebar content"
      "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;
}


#navbar ul {
    display: flex;
    flex-direction: column;
}
#navbar ul {
   padding: 1vh 1vw;
   border: 0.1vw solid #f5d20a;
   border-radius: 0.5vw;
   list-style-type: none;
}
#navbar ul {
    font-size: 20px;
    background-color: #e6b800;
    text-decoration-color: aliceblue;
    
        
    }

.panel {
   border: 0.1vw solid #f5d20a;
   border-radius: 0.5vw;
   padding: 1vw;
   margin: 1vh 0;
    text-align: center;
   
}

article {
   padding: 1vh 1vw;
   border: 0.1vw solid #f5d20a;
   border-radius: 0.5vw;
   list-style-type: none;
    
}
input[type=text], select, textarea {
      width: 100%; 
      padding: 12px; 
      border: 1px solid #ccc; 
      border-radius: 4px; 
      box-sizing: border-box; 
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical 
    }



footer {
   margin-top: 10vh;
   border-top: 0.2vw solid #f5d20a;
}
